<div class="bg-slate-200 pb-2 ">
    <app-navbar></app-navbar>
    <div class="flex pl-1 flex-col md:flex-row">
        <div class="flex md:flex-col pt-7 pb-2 px-0 md:w-2/12">
            <a class="flex px-2" routerLink="/user/{{post?.author?.alias}}_{{post?.author?.tag}}">
                <p class="font-bold text-xl">{{post?.author?.alias}}</p>
                <p class="font-normal text-sm mt-1.5">#{{post?.author?.tag}}</p>
            </a>
            <div class="px-2 flex-grow">
                <p class="font-bold">{{post?.public_date}}</p>
                <p class="font-normal text-sm mb-0.5" *ngIf="post?.edited">{{post?.edit_date}} (edited)</p>
            </div>
            <div class="px-2 mr-1 flex items-center bg-red-200 rounded-full h-9"
                *ngIf="((currentUser && post && currentUser?.uid == post?.author?.uid) || (currentUser && currentUser.admin)) && !editing"
                (click)="deletePost()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-trash3 h-5"
                    viewBox="0 0 16 16">
                    <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                </svg>
                <p class="px-1 font-semibold"> Delete</p>
            </div>
            <div class="px-2 mr-1 flex items-center bg-blue-200 rounded-full h-9"
                *ngIf="((currentUser && post && currentUser?.uid == post?.author?.uid) || (currentUser && currentUser.admin)) && !editing"
                (click)="editing = true">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pencil-square h-5"
                    viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
                <p class="px-1 font-semibold"> Edit</p>
            </div>
            <div class="px-2 mr-1 flex items-center bg-red-200 rounded-full h-9" *ngIf="editing"
                (click)="editing = false">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-square h-5"
                    viewBox="0 0 16 16">
                    <path
                        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
                <p class="px-1 font-semibold"> Cancel</p>
            </div>
        </div>
        <div class="flex flex-col md:pt-7 px-0 md:w-10/12" *ngIf="!editing">
            <div class="bg-gray-100 px-3 pb-4 md:pb-10 rounded-xl pt-1">
                <p class="block font-bold">{{post?.title}}</p>
                <quill-view class="" #quillview (onEditorCreated)="initContent()"></quill-view>
            </div>
        </div>
        <div class="flex flex-col md:pt-7 px-0 md:w-10/12" *ngIf="editing">
            <form class="bg-gray-100 px-3 pb-4 rounded-xl pt-1 flex flex-col"
                (submit)="tryEditPost(quilleditorP, inputTitle.value)">
                <input class="block font-bold" value="{{post?.title}}" #inputTitle>
                <quill-editor #quilleditorP class="ql-bubble w-full my-2 px-2"
                    (onEditorCreated)="checkType(post?.body) === 'string' ? quilleditorP.quillEditor.setText(post?.body) : quilleditorP.quillEditor.setContents(post?.body)"></quill-editor>
                <button class="bg-green-400 rounded-full px-2 md:mt-24 py-1 font-bold">Done</button>
            </form>
        </div>
    </div>
    <div class="flex flex-col pl-4 pr-2" *ngIf="blockInit && postInit">
        <div *ngFor="let comment of post?.comments"
            class="mt-4 mb-1 bg-gray-100 flex pl-1 flex-col md:flex-row rounded-xl">
            <div class="flex md:flex-col pt-2 md:pt-2 pb-2 px-0 md:w-2/12">
                <a class="px-2" routerLink="/user/{{comment?.author?.alias}}_{{comment?.author?.tag}}">
                    <p class="font-bold text-xl">{{comment?.author?.alias}}</p>
                    <p class="font-normal text-sm -mt-1.5">#{{comment?.author?.tag}}</p>
                </a>
                <div class="px-2">
                    <p class="font-bold text-sm">{{comment?.public_date}}</p>
                    <p class="font-normal text-xs mb-0.5" *ngIf="comment?.edited">{{comment?.edit_date}} (edited)</p>
                </div>
            </div>
            <div class="flex flex-col md:pt-2 px-0 md:w-10/12">
                <div class="bg-gray-100 px-3 pb-4">
                    <quill-view #quillcomment
                        (onEditorCreated)="checkType(comment?.body) === 'string' ? quillcomment.quillEditor.setText(comment?.body) : quillcomment.quillEditor.setContents(comment?.body)"></quill-view>
                </div>
            </div>
        </div>

        <div class="mt-2 mb-3 bg-white flex pl-1 flex-col md:flex-row rounded-xl">
            <div class="flex flex-col px-0 w-full">
                <form class="px-3 pb-4 flex flex-col" (submit)="tryCreateComment(quilleditorC)">
                    <quill-editor #quilleditorC class="ql-bubble w-full my-2 px-2 "
                        placeholder="Create a new comment here!"></quill-editor>
                    <button class="bg-green-400 rounded-full mt-24 px-2 py-1 font-bold">Done</button>
                </form>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>