<div class="bg-slate-200 pb-5">
    <app-navbar></app-navbar>
    <div class="flex">
        <div class="pt-4 flex flex-col items-center w-full md:w-3/4">
            <p class="px-4">Welcome to the forum! Here is some topics you can navigate on.</p>
            <div class="pt-2 w-full flex flex-col items-center">
                <div class="bg-slate-400 w-11/12 pb-2 rounded-2xl flex flex-col items-center justify-center" *ngIf="currentFolder">
                    <div class="mt-2 bg-slate-200 w-10/12 rounded-md p-1 flex cursor-pointer min-h-min items-center">
                        <div class="rounded-full bg-blue-300 mx-4 my-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi bi-folder-fill h-10 p-2" viewBox="0 0 16 16">
                                <path
                                    d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
                            </svg>
                        </div>
                        <div class="w-11/12 py-2" *ngIf="currentFolder">
                            <p class="min-w-fit pl-2 font-bold">{{currentFolder.name}}</p>
                            <p class="min-w-min pl-2 pr-2">{{currentFolder.info}}</p>
                        </div>
                    </div>
                </div>
                <div class="bg-slate-400 w-11/12 pb-2 rounded-2xl flex flex-col items-center justify-center mt-3">
                    <div class="mt-2 bg-slate-200 w-10/12 rounded-md p-1 flex cursor-pointer min-h-min items-center"
                        (click)="goBackInRoute()" *ngIf="currentFolder">
                        <div class="rounded-full bg-blue-300 mx-4 my-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi bi-folder-symlink h-10 p-2" viewBox="0 0 16 16">
                                <path
                                    d="m11.798 8.271-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742z" />
                                <path
                                    d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm.694 2.09A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09l-.636 7a1 1 0 0 1-.996.91H2.826a1 1 0 0 1-.995-.91l-.637-7zM6.172 2a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
                            </svg>
                        </div>
                        <div class="w-11/12 py-2">
                            <p class="min-w-fit pl-2 font-bold">Return to previous folder...</p>
                            <p class="min-w-min pl-2 pr-2"></p>
                        </div>
                    </div>
                    <form class="mt-2 bg-slate-200 w-10/12 rounded-md p-1 flex min-h-min items-center"
                        [class.cursor-pointer]="!editing" (submit)="tryCreateFolder()">
                        <div class="rounded-full mx-4 my-2" (click)="startEditing()" [class.bg-green-300]="!editError"
                            [class.bg-red-300]="editError">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" *ngIf="!newFolder.name"
                                class="bi bi-folder-plus h-10 p-2" viewBox="0 0 16 16">
                                <path
                                    d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2Zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672Z" />
                                <path
                                    d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5Z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" *ngIf="newFolder.name"
                                class="bi bi-folder-check h-10 p-2" viewBox="0 0 16 16">
                                <path
                                    d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
                                <path
                                    d="M15.854 10.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.707 0l-1.5-1.5a.5.5 0 0 1 .707-.708l1.146 1.147 2.646-2.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" *ngIf="editError"
                                class="bi bi-folder-x h-10 p-2" viewBox="0 0 16 16">
                                <path
                                    d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zm6.339-1.577A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                                <path
                                    d="M11.854 10.146a.5.5 0 0 0-.707.708L12.293 12l-1.146 1.146a.5.5 0 0 0 .707.708L13 12.707l1.146 1.147a.5.5 0 0 0 .708-.708L13.707 12l1.147-1.146a.5.5 0 0 0-.707-.708L13 11.293l-1.146-1.147z" />
                            </svg>
                        </div>
                        <div class="py-2 w-full" (click)="startEditing()">
                            <p class="min-w-min pl-2 font-bold" *ngIf="!editing">Create folder</p>
                            <input class="min-w-fit pl-2 font-bold bg-transparent" placeholder="Folder name..."
                                (input)="titleTyped(newTitleFolder)" *ngIf="editing" #newTitleFolder>
                            <textarea class="min-w-min pl-2 pr-2 bg-transparent w-full"
                                (input)="descTyped(newDescFolder)" placeholder="Folder description..." *ngIf="editing"
                                #newDescFolder></textarea>
                        </div>
                        <div class="w-2/12 h-full py-2 flex flex-col items-center justify-around" *ngIf="editing">
                            <button class="w-full h-8 px-2 my-1 rounded-md font-semibold"
                                [class.bg-gray-400]="!newFolder.name || editError"
                                [class.bg-green-400]="newFolder.name && !editError" type="submit">Create</button>
                            <button class="w-full h-8 px-2 my-1 rounded-md font-semibold bg-red-400"
                                (click)="endEditing()">Cancel</button>
                        </div>
                    </form>
                    <div *ngFor="let folder of folders" (click)="changeFolderRoute(folderName)"
                        class="mt-2 bg-slate-200 w-10/12 rounded-md p-1 flex cursor-pointer min-h-min items-center">
                        <div class="rounded-full bg-blue-300 mx-4 my-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-folder h-10 p-2"
                                viewBox="0 0 16 16">
                                <path
                                    d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                            </svg>
                        </div>
                        <div class="w-11/12 py-2">
                            <p class="min-w-fit pl-2 font-bold" #folderName>{{folder.name}}</p>
                            <p class="min-w-min pl-2 pr-2">{{folder.info}}</p>
                        </div>
                    </div>
                </div>
                <div class="bg-slate-400 w-11/12 pb-2 rounded-2xl flex flex-col items-center justify-center mt-3">
                    <div
                        class="mt-2 bg-slate-200 w-10/12 rounded-md p-1 flex cursor-pointer min-h-min items-center"
                        (click)="createPost()">
                        <div class="rounded-full bg-green-300 mx-4 my-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-plus h-10 p-2" viewBox="0 0 16 16">
                                <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                              </svg>
                        </div>
                        <div class="w-11/12 py-2">
                            <p class="min-w-fit pl-2 font-bold" #postTitleElement>Create post</p>
                        </div>
                    </div>
                    <div *ngFor="let post of posts"
                        class="mt-2 bg-slate-200 w-10/12 rounded-md p-1 flex cursor-pointer min-h-min items-center"
                        (click)="viewPost(postTitleElement)">
                        <div class="rounded-full bg-blue-300 mx-4 my-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi bi-person-circle h-10 p-2" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                        </div>
                        <div class="w-11/12 py-2">
                            <p class="min-w-fit pl-2 font-bold" #postTitleElement>{{post.title}}</p>
                            <p *ngIf="post.edited" class="min-w-min pl-2 pr-2">{{post.edit_date}}</p>
                            <p *ngIf="!post.edited" class="min-w-min pl-2 pr-2">{{post.public_date}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-blue-100 pt-4 items-center hidden md:flex flex-col w-0 md:w-1/4 invisible md:visible">
            <p>Recent topics
                <app-chat></app-chat>
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>